.container {
  color: rgba(255, 255, 255, 0.8);
  background-color: #0d1117;
  min-height: 100vh;
  padding: 60px 0;
  background-image: url("/public/img/bcImg.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: right bottom 60px;
}
.form_wrapper {
  width: 440px;
  min-height: 653px;
  background-image: url("/public/img/bg_form.png"),
    linear-gradient(
      100deg,
      rgba(255, 255, 255, 0.35) 0%,
      rgba(255, 255, 255, 0.1) 70%
    );

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  margin-left: 125px;
  padding: 20px 0;
}
